<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Extbase</string>
	<key>uuid</key>
	<string>834E0692-F2EE-4CA3-B3B6-FBE99378E838</string>
</dict>
</plist>
